@import "../../../styles/global-imports";

.links-list {
  &__title {
    color: $c-grey;
    margin-bottom: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__link {
    color: $c-white;
    text-transform: capitalize;
  }
}