@import "../../styles/global-imports";

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  @include onDesktop {
    margin-top: 80px !important;
  }
  
  @include onTablet {
    gap: 24px;
  }

  &__top {
    max-width: 280px;
    text-align: start;
    position: relative;
    
    @include onMobile {
      text-align: center;
      margin-bottom: 32px;
    }
    
    @include onDesktop {
      max-width: 260px;
    }
    
    @include onTabletAndDesktop {
      align-self: baseline;
    }
  }

  &__button {
    position: relative;
    width: 288px;
    height: 56px;
    
    @include onTablet {
      width: 328px;
    }

    @include onDesktop {
      position: absolute;
      left: 0;
      top: 260px;
    }
  }
}
